{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title> Professor Rater </title>
</head>
<body>
  <nav>
    <h1>Welcome to Professor Rater!</h1>
    <h2>
      <a href="/schools"> View Schools</a> | <a href="/professors"> View /professors </a>| <a href="/professors/new"> Add New Professors </a></h2> 
      {% comment %} <a href="/students/new"> Enroll </a></h2> {% endcomment %}
  </nav>


  {% block content %}
  {% endblock %}
</body>
</html>